.product-flex-lyt{
    display: flex;
    margin: 2vmax auto;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    gap: 35px;
}
.product-flex-lyt .card{
    border: none;
}
.product-flex-lyt a{
    text-decoration: none;
}

.typ-custom-height{
    min-height: 245px;
}
.product-flex-lyt .card .card-body .card-title{
    color: #111111;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 5px;
    -webkit-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
    text-transform: capitalize;
}
.product-flex-lyt .card .card-body .card--title--buying{
    position: relative;
}
.product-flex-lyt .card .card-body .card--title--buying .buy-btn{
    font-size: 15px;
    color: #e53637;
    font-weight: 700;
    position: absolute;
    left: 0;
    top: -20px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
}
.product-flex-lyt .card .card-body{
    padding: 0;
}
.product-flex-lyt .card .card-body .price{
    color: #0d0d0d;
    font-weight: 700;
}
.product-flex-lyt .card:hover .card-body .card--title--buying .buy-btn{
    top: 0px;
    opacity: 1;
    visibility: visible;
}
.product-flex-lyt .card:hover .card-body .card--title--buying .card-title{
    opacity: 0;
}
.product-flex-lyt .card .card-body .color-circle{
    height: 12px;
    width: 12px;
    display: inline-block;
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
}
.product-flex-lyt .card:hover .card-body .color-circle{
    opacity: 1;
    visibility: visible;
}
.product-flex-lyt .card .card-body .price-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product-flex-lyt .card .img-height{
    min-height: 245px;
    margin-bottom: 10px;
}
.product-flex-lyt .row{
    --bs-gutter-y: 3rem;
}
.productCard {
    width: 16vmax;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: rgb(48, 48, 48);
    margin: 2vmax;
    transition: all 0.5s;
    padding-bottom: 0.5vmax;
    border: 1px solid rgba(15, 15, 15, 0.26);
    border-radius: 10px;
    text-align: center;
}

.productCard > img {
    border-radius: 10px;
}
.typ-img-lyt{
    padding: 5px;
}
.productCard > div {
    margin: 0.5vmax;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.productCardSpan {
    margin: 0.5vmax;
    font: 300 0.7vmax "Roboto";
    
}

.productCard > p {
    font-family: "Roboto";
    font-size: 1.2vmax;
    margin: 1vmax 0.5vmax;
    margin-bottom: 0;
}

.productCard > span {
    margin: 0.5vmax;
    color: tomato;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 1vmax;
}

.productCard:hover {
    box-shadow: 0 0 5px rgba(15, 15, 15, 0.26);
    border-radius: 10px;
    transform: translateY(-1vmax);
}

@media screen and (max-width: 600px) {
    .productCard > p {
        font-size: 1.7vmax;
    }

    .productCard > div {
        margin: 0vmax;
        display: block;
    }

    .productCard > span {
        font-size: 1.5vmax;
    }

    .productCard > div > span {
        margin: 0 0.5vmax;
        font: 300 1vmax "Roboto";
    }
}
