@import '~bootstrap/dist/css/bootstrap.min.css';

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
body{
    scroll-behavior: smooth;
}

.greenColor {
  color: green !important;
}
.redColor {
  color: red !important;
}

.navbar-collapse{
    justify-content: flex-end;
}

.text-wrap{
    text-align: center;
}


.common-heading{
    font-size: 2.8rem;
    font-weight: 600;
    margin-bottom: 2rem;
    text-transform: capitalize;
}

.bs-btn{
    width: auto;
    height: 40px;
    background-color: rgb(68, 161, 160);
    border-radius: 12px;
    color: #fff;
}